*{padding: 0; margin:0;}

html,body{height:90%;
          margin-top: 3%;
          background-image: url("recursos/cesped.bmp")}

#cabecera{width:100%;height:10%;
          min-height: 75px;
          position:absolute;
          top:0;left:0;
          background-image: url("recursos/cesped-lateral.jpg");
          background-size: 10%;
          color:white;
}

#cabecera h1{padding-left: 2%;
             padding-top: 2%;
}   

#menu{width:20%;
    display:inline-block;position:relative;float:left;
    padding-left: 1em;margin:0 2% ;
    border: 4px solid black;
    background-image: url("recursos/fondo-negro.png");color:white;
}

#menu a{color:white}

a:hover{color:darkgreen}


#contenido{width:72%; height:100%;
    display:inline-block;float:left;
    border: 4px solid green;
    background-image: url("recursos/fondo-negro.png");
}


iframe{width: 76%; height:100%;
       margin:0 auto; 
       display:block;
       background-color: white;border:0;
}



.opcionMenu{margin-bottom:10%;margin-left: 1em}
