
h1{margin-left: 3%;
    display:inline-block;
}

img{width: auto ;
    max-height:30%;
    display: block;
    margin:1em auto}

.tarjeta{float:left;
       width: 33%;
       min-height: 65%; max-height: 65%;
       margin:3%;
       overflow:scroll;
       display:inline-block;
       text-align: center;
       border: ridge 2px black;
    }

table{width:90%;
             margin: 0 auto;
             
    border:2px solid  black;
}

table tr{border:2px solid  black;
}

table tr th{border:2px solid  black;
}

table tr td{border:2px solid  black;
                  
}


